<div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="funcional">Funcional</label>
            <input type="text" class="form-control" id="funcional" placeholder="" [(ngModel)] = "funcionario.funcional" ngDefaultControl required>
          </div>
      <div class="col-md-4 mb-3">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" placeholder="" [(ngModel)] = "funcionario.nome" ngDefaultControl required>
      </div>
        <!--<input type="text" class="form-control" id="perfil" placeholder="" [(ngModel)]="funcionario.perfil" ngDefaultControl required>
            -->
            <div class="col-md-6 form-group">
              <select [(ngModel)]="funcionario.perfil" ngDefaultControl class="custom-select" required>
                <option value="">Selecione o Perfil</option>
                <option value="1">Funcionario</option>
                <option value="2">Lider Tecnico</option>
                <option value="3">Administrador</option>
              </select>
      <div class="invisible" class="col-md-6 mb-3">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" placeholder="" [(ngModel)]="funcionario.email" ngDefaultControl required>
        </div>
      <div class="col-md-6 mb-3">
        <label for="validationTooltip04">Squad</label>
        <select [(ngModel)]="funcionario.squad.id" class="form-control" >
            <option *ngFor="let squad of squads" [value]="squad.id">
              {{squad.nome}}
            </option>
        </select>
      </div>
      <button (click) = "salvar()" class="btn btn-primary" >Cadastrar</button>
    </div>
  